*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Rubik', sans-serif;
    font-size: 0.93rem;
    font-weight: 400;
    line-height: 1.5;
}

#Nav_section{
    display: flex;
    justify-content: space-between;
    width:85%;
    margin: auto;
    padding-top: 2.4%;
    color: #919491;
}

