*{
    margin: 0px;
    padding: 0px;
    
}

body{
    font-family: 'Rubik', sans-serif;
    font-size: 0.93rem;
    font-weight: 400;
    line-height: 1.5;
}

#Nav_section{
    display: flex;
    justify-content: space-between;
    width:85%;
    margin: auto;
    padding-top: 2.4%;
    color: #919491;
}

a{
    text-decoration: none;
    color: inherit;
    margin-right: 7%;
    
}
#header_linksDiv{
    width: 40%;
}
#header_linksDiv > a:nth-child(4){
    background-color: #fa5757;
    color: #FFF;
    padding: 12px 25px;
    border-radius: 5px;
}

#left_hero_section h1{

    font-size: 45px;
    font-weight: 500px;
    line-height: 1.2;
    color: #000;
    margin-bottom: 15px;
}

#left_hero_section p{
    color: #9194a1;
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 1.125rem;
    width: 500px;


}
#hero_section{
    display: flex;
    margin-top: 100px;
    align-items: center;
    justify-content: space-between;

}

#left_hero_section{
    margin-left: 8%;
}

.btn{
    background: #5368df;
    color: white;
    -webkit-box-shadow: 1px 3px 10px rgb(0 0 0 / 10%);
    box-shadow: 1px 3px 10px rgb(0 0 0 / 10%);
    font-family: 'Rubik', sans-serif;
    font-size: 1rem;
    padding: 12px 28px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    display: inline-block;
}

#heroButtonsDiv > button{
    width: 190px;
    height: 45px;
    margin-top: 15px;
}

#heroButtonsDiv > button:nth-child(1){
    background: #5368df;
    color: white;
    -webkit-box-shadow: 1px 3px 10px rgb(0 0 0 / 10%);
    box-shadow: 1px 3px 10px rgb(0 0 0 / 10%);
    font-family: 'Rubik', sans-serif;
    font-size: 1rem;
    padding: 12px 28px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    display: inline-block;
    margin-right: 15px;
}

#heroButtonsDiv > button:nth-child(2){
    background: #FFF;
    color: #000;
    -webkit-box-shadow: 1px 3px 10px rgb(0 0 0 / 10%);
    box-shadow: 1px 3px 10px rgb(0 0 0 / 10%);
}

.prominent_img{
 position: relative;
}

.contact{
    width: 100%;
    height: 350px;
    position: relative;
    background: #5368df;

}

#contact_section{
    margin-top: 10%;
    padding-top: 50px;
    display: -ms-grid;
    display: grid;
    place-items: center;
    text-align: center;
    font-family: 'Rubik', sans-serif;
}
.cnotact_text p{
    color: #FFF;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}
.cnotact_text h2{
    color: #FFF;
    margin-top: 21.009px;
    margin-bottom: 21.009px;
    
}
input{
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}
h2{
    font-size: 500;
}



.contact_email button{
    background: #fa5757;
    color: #FFF;
    font-size: 1rem;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
    width: 150px;
    height: 45px;
}
.contact_email input[type="email"]{
    width: 245px;
    height: 23px;
    border: none;
    border-radius: 4px;
    margin-right: 10px;
    padding: 10px 15px;
}
.footer{
    position: 
}

